<% if user_signed_in? %>
	<p style="text-align:right"> Bienvenido <%= current_user.username %></p>
	<!--p style="text-align:right"> <%= link_to "Salir", destroy_user_session_path, method: :delete %></p-->
	<!--p style="text-align:right"><%= link_to "Nueva Cuenta", new_user_registration_path %></p-->
	<!--p style="text-align:right"><%=  link_to "Login" , new_user_session_path %> </p-->
	<center>
		<br>
		<%= link_to 'New Thermostat', new_thermostat_path %>
		<br><br>
	</center>
	
<% end %>
<div class="center hero-unit">
	<h1>Akita Thermostat</h1>
	<img src="images/logo.jpg" height="250" /><br><br>  	
</div>


