<p id="notice"><%= notice %></p>

<p>
  <strong>Temp max:</strong>
  <%= @alarm.temp_max %>
</p>

<p>
  <strong>Temp min:</strong>
  <%= @alarm.temp_min %>
</p>

<p>
  <strong>Trigger time:</strong>
  <%= @alarm.trigger_time %>
</p>

<p>
  <strong>Thermostat:</strong>
  <%= @alarm.thermostat %>
</p>

<%= link_to 'Edit', edit_alarm_path(@alarm) %> |
<%= link_to 'Back', alarms_path %>
