<p id="notice"><%= notice %></p>

<p>
  <strong>Temperatura maxima:</strong>
  <%= @alarm.temp_max %>
</p>

<p>
  <strong>Temperatura minima:</strong>
  <%= @alarm.temp_min %>
</p>

<p>
  <strong>Timepo maximo de espera:</strong>
  <%= @alarm.trigger_time %>
</p>


<%= link_to 'Editar', edit_alarm_path(@alarm), class: "btn btn-info"  %> |
<%= link_to 'Volver', locations_path, class: "btn btn-default"  %>
