<h1>Resolver problema</h1>

<%= form_validated_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, 'Descripcion del problema' %><br>
    <%= f.text_area :description, :value => @issue.description %>
  </div>
  
    <div class="field">
    <%= f.label :resolution, 'Solucion' %><br>
    <%= f.text_area :resolution %>
  </div>
  
  
  <div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Volver', issues_path, :class => "btn btn-default" %>
