<h1>Lista de usuarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cuenta</th>
      <th>Fecha de Creacion</th>
      <th>Rol</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username%></td>
        <td><%= user.email%></td>
        <td><%= user.created_at.strftime("%d/%m/%Y")%></td>
        <%if user.role == 1 %>
          <td>Administrador</td>
        <%else%>
          <td>Usuario</td>
        <%end%>
        <td><%= link_to 'Cambiar Rol', change_role_user_path(user), :class => 'btn btn-mini'   %></td>
        <td><%= link_to 'Editar', edit_user_path(user), :class => 'btn btn-mini'  %></td>
        <td><%= link_to 'Eliminar', user_path(user), method: :delete, data: { confirm: 'Seguro?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
