<%= form_for(@planner) do |f| %>
  <% if @planner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planner.errors.count, "error") %> prohibited this planner from being saved:</h2>

      <ul>
      <% @planner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :max_temperature %><br>
    <%= f.number_field :max_temperature %>
  </div>
  <div class="field">
    <%= f.label :min_temperature %><br>
    <%= f.number_field :min_temperature %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :enable %><br>
    <%= f.check_box :enable %>
  </div>
  <div class="field">
    <%= f.label :termostat_id %><br>
    <%= f.text_field :termostat_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
