<h1>Listing planners</h1>

<table>
  <thead>
    <tr>
      <th>Dia de la Semana</th>
      <th>Temperatura Maxima</th>
      <th>Temperatura Minima</th>
      <th>Franja Horaria</th>
      <th>ID del termostato</th>
      <th>Termostat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planners.each do |planner| %>
      <tr>
        <td><%= planner.week_day %></td>
        <td><%= planner.max_temperature %></td>
        <td><%= planner.min_temperature %></td>
        <td><%= planner.schedule %></td>
        <td><%= planner.thermostat_id %></td>
        <td><%= link_to 'Show', planner %></td>
        <td><%= link_to 'Edit', edit_planner_path(planner) %></td>
        <td><%= link_to 'Destroy', planner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planner', new_planner_path %>
