<h1>Lista de planificaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dia de la Semana</th>
      <th>Temperatura Maxima</th>
      <th>Temperatura Minima</th>
      <th>Franja Horaria</th>
      <th>ID del termostato</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planners.each do |planner| %>
      <tr>
        <td><%= planner.week_day %></td>
        <td><%= planner.max_temperature %></td>
        <td><%= planner.min_temperature %></td>
        <td><%= planner.schedule %></td>
        <td><%= planner.thermostat_id %></td>
        <td><%= link_to 'Mostrar', planner %></td>
        <td><%= link_to 'Editar', edit_planner_path(planner) %></td>
        <td><%= link_to 'Eliminar', planner, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Planificacion', new_planner_path %>
