<h1>Lista de planificaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dia de la Semana</th>
      <th>Temperatura Maxima</th>
      <th>Temperatura Minima</th>
      <th>Franja Horaria</th>
      <th>ID del termostato</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planners.each do |planner| %>
      <tr>
        <td><%= planner.week_day %></td>
        <td><%= planner.tem_max %></td>
        <td><%= planner.temp_min %></td>
        <td><%= planner.schedule %></td>
        <td><%= planner.thermostat_id %></td>
        <td><%= link_to 'Mostrar', planner, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Editar', edit_planner_path(planner), :class => 'btn btn-mini' %></td>
         <td><%= link_to 'Eliminar', planner_path(planner), method: :delete, data: { confirm: 'Seguro?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><%= link_to 'Registrar Planificacion', :controller => :planners, :action => "new", :id => thermostat
_id %></td>
