<p id="notice"><%= notice %></p>

<p>
  <strong>Dia de la semana:</strong>
  <%= @planner.week_day %>
</p>

<p>
  <strong>Max temperature:</strong>
  <%= @planner.max_temperature %>
</p>

<p>
  <strong>Min temperature:</strong>
  <%= @planner.min_temperature %>
</p>

<p>
  <strong>Franja:</strong>
  <%= @planner.schedule %>
</p>



<%= link_to 'Editar', edit_planner_path(@planner) %>  |
<%= link_to 'Back', thermostats_path %>
  |
  