<<<<<<< HEAD
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;" style="background-color: #FFCC33"></FORM>
<h3 align=center >Room Temperature</h3>
<p>Temperature: <div style="width:40px;height:30px;border:1px solid blue;"><%=  %></div></p>
<p>Humidity:  <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Outdoors: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Normal Consumption: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Current Consuption: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p><h4>kw Saving:</h4> <div style="width:90px;height:30px;border:3px solid red;"><%= %></div></p>
<p align="right">
<a> <INPUT Type="button" VALUE="Temperature Planner" style="background-color: #FFCC33"> </a>
</p>

=======
<h3 align=center >Temperatura de habitacion</h3>
<p>Temperatura: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Humedad:  <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Exterior: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Consumo normal: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Consumo actual: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p><h4>Ahorro[KW]:</h4> <div style="width:90px;height:30px;border:3px solid red;"><%= %></div></p>
<br>
<br>
<FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
>>>>>>> 6dcb8860c4fd64becaba44263d514d340f1da880
