<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
<h3 align=center >Room Temperature</h3>
<p>Temperature: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Humidity:  <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Outdoors: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Normal Consumption: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Current Consuption: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p><h4>kw Saving:</h4> <div style="width:90px;height:30px;border:3px solid red;"><%= %></div></p>