<h1>Lista termostatos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thermostats.each do |thermostat| %>
      <tr>
        <td><%= thermostat.serial %></td>
        <td><%= link_to 'Mostrar', thermostat %></td>
        <td><%= link_to 'Editar', edit_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Eliminar', thermostat, method: :delete, data: { confirm: 'Está seguro?' } %></td>
        <td><%= link_to 'Registrar Ubicación', register_locations_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Termostato', new_thermostat_path %>
