<h1>Lista termostatos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Temperatura</th>
    </tr>
  </thead>

  <tbody>
    <% @thermostats.each do |thermostat| %>
      <tr>
        <td><%= thermostat.serial %></td>

        <td><%= thermostat.temperature %></td>
       

        <td><%= link_to 'Mostrar', thermostat , :class => 'btn btn-mini'%></td>
        <td><%= link_to 'Editar', edit_thermostat_path(thermostat), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Eliminar', thermostat, method: :delete, data: { confirm: 'Está seguro?' }, :class => 'btn btn-mini btn-danger'%></td>

       
        <td><%= link_to 'Registrar Planificacion', :controller => :planners, :action => "new", :id => thermostat.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Termostato', new_thermostat_path %>

