<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @thermostat.serial %>
</p>

<p>
  <strong>User:</strong>
  <%= @thermostat.user %>
</p>

<%= link_to 'Editar', edit_thermostat_path(@thermostat) %> |
<%= link_to 'Atrás', thermostats_path %>
