<H1>Termostato <%= @thermostat.serial %></H1>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <id="notice"><%= notice %>
  <%= flash_notifications %>
</div>
<p style="text-align:right">
  <%= link_to 'Historial de planificaciones',"/planners/history/"+@thermostat.id.to_s, :class => 'btn btn-default btn-lg active' %> | <%= link_to 'Historial de temperaturas',"/history_thermostats/" + @thermostat.id.to_s, :class => 'btn btn-info btn-lg info' %>
</p>
<p><strong>Temperatura:</strong><%= @thermostat.temperature %></p>
<p> <strong>Nombre:</strong><%= @thermostat.location.name %></p>
<p><strong>Ciudad:</strong><%= @thermostat.location.city %></p>
<p><strong>Direccion:</strong><%= @thermostat.location.address %></p>
<H2 align=center>Temperatura actual</H2>
  <p><strong>Descripción: </strong> <%= @description %> </p>
  <p><strong>Humedad actual: </strong> <%= @hum %> </p>
  <p><strong>Temperatura Maxima estimada: </strong> <%= @tempMax-273 %> C</p>
  <p><strong>Temperatura Minima estimada: </strong> <%= @tempMin-273 %> C</p>

  <h2>Agregar una observacies:</h2>
<%= form_for([@thermostat, @thermostat.observacions.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>