<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @thermostat.serial %>
</p>

<%= link_to 'Editar', edit_thermostat_path(@thermostat) %> |
<%= link_to 'Atrás', thermostats_path %>

<%= link_to 'Configuracion ', register_location_path %>