<p id="notice"><%= notice %></p>

<p style="text-align:right">
  <%= link_to 'Historial de planificaciones',"/planners/history/"+@thermostat.id.to_s, :class => 'btn btn-default btn-lg active' %> |
  <a href="/history_thermostats/" ,button class='btn btn-info btn-lg default'> Historial de temperaturas </a>
</p>

<p>
  <strong>Serial:</strong>
  <%= @thermostat.serial %>
</p>

<p>
  <strong>Temperatura:</strong>
  
  <%= @thermostat.current_temperature %>
  
</p>

<p>
  <strong>BANDERA:</strong>  
  <%= @ciudad%>
</p>

<br>

<h3 align=left >Temperatura de habitación</h3> <br>
<p>Temperatura: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Humedad:  <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Exterior: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Consumo normal: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p>Consumo actual: <div style="width:40px;height:30px;border:1px solid blue;"><%= %></div></p>
<p><h4>Ahorro[KW]:</h4> <div style="width:90px;height:30px;border:3px solid red;"><%= %></div></p>
<br>


<br>



<br><br>
<%= link_to 'Editar', edit_thermostat_path(@thermostat),:class => 'btn btn-info' %> |
<%= link_to 'Atrás', thermostats_path,:class => 'btn btn-default' %>

