<H1>Termostato <%= @thermostat.serial %></H1>
<p id="notice"><%= notice %></p>

<p style="text-align:right">
  <%= link_to 'Historial de planificaciones',"/planners/history/"+@thermostat.id.to_s, :class => 'btn btn-default btn-lg active' %> |<%= link_to 'Historial de temperaturas',"/history_thermostats/"+@thermostat.id.to_s, :class => 'btn btn-info btn-lg info' %>
</p>


<p>
  <strong>Temperatura:</strong>
  
  <%= @thermostat.temperature %>
  
</p>

<p>
  <strong>Nombre:</strong>
  
  <%= @thermostat.location.name %>
  
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @thermostat.location.city %>
</p>

<p>
  <strong>Direccion:</strong>  
  <%= @thermostat.location.address %>
</p>

<br>
<H2 align=center>Temperatura actual</H2>


  <p><strong>Descripción: </strong> <%= @description %> <br/></p>
  <p><strong>Humedad actual: </strong> <%= @hum %> <br/></p>
  <p><strong>Temperatura Maxima estimada: </strong> <%= @tempMax-273 %> C<br/></p>
  <p><strong>Temperatura Minima estimada: </strong> <%= @tempMin-273 %> C<br/></p>


<br>
<H2 align=center>Temperatura registrada</H2>
<br>
<p>Temperatura: <div style="width:40px;height:30px;border:1px solid blue;"><%= @actualThermo["temperature"] %></div></p>
<p>Humedad:  <div style="width:40px;height:30px;border:1px solid blue;"><%=  @actualThermo["humedad"] %></div></p>
<p>Exterior: <div style="width:40px;height:30px;border:1px solid blue;"><%=  @actualThermo["exterior"] %></div></p>
<p>Consumo normal: <div style="width:40px;height:30px;border:1px solid blue;"><%= @actualThermo["consumoN"]  %></div></p>
<p>Consumo actual: <div style="width:40px;height:30px;border:1px solid blue;"><%=  @actualThermo["consumoA"] %></div></p>
<p><h4>Ahorro[KW]:</h4> <div style="width:90px;height:30px;border:3px solid red;"><%= @actualThermo["consumoN"] - @actualThermo["consumoA"]  %></div></p>


<br>



<br><br>
<%= link_to 'Editar', edit_thermostat_path(@thermostat),:class => 'btn btn-info' %> |
<%= link_to 'Atrás', thermostats_path,:class => 'btn btn-default' %>

