<p id="notice"><%= notice %></p>

<p>
  <strong>Thermostat:</strong>
  <%= @observacion.thermostat %>
</p>

<p>
  <strong>Description:</strong>
  <%= @observacion.description %>
</p>

<%= link_to 'Edit', edit_observacion_path(@observacion) %> |
<%= link_to 'Back', observacions_path %>
