<h1>Lista de ubicaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Direccion</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        
        <td><%= location.city %></td>
        <td><%= location.address %></td>

        <td><%= location.thermostat.serial %></td>
        <td><%= location.user %></td>

        <td><%= link_to 'Mostrar', location %></td>
        <td><%= link_to 'Editar', edit_location_path(location) %></td>
        <td><%= link_to 'Eliminar', location, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Ubicacion', new_location_path %>
<td><%= link_to 'Nuevo termostato', new_thermostat_path(location.id) %></td>
