<h1>Lista de ubicaciones</h1>

<div align="right">
<%= link_to 'Nueva Ubicacion', new_location_path, :class => 'btn btn-default btn-lg active' %>
</div>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><center>Nombre</center></th>
      <th><center>Ciudad</center></th>
      <th><center>Direccion</center></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><center><%= location.name %></center></td>
        <td><center><%= location.city %></center></td>
        <td><center><%= location.address %></center></td>
        <td><%= link_to 'Ver', location, :class => 'btn btn-mini btn-default' %></td>
        <td><%= link_to 'Editar', edit_location_path(location), :class => 'btn btn-mini btn-info' %></td>
        <td><%= link_to 'Eliminar', location, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


