<h1>Lista de ubicaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Propiedad</th>
      <th>Habitacion</th>
      <th>Ciudad</th>
      <th>Direccion</th>
      <th>ID Termostato</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.property %></td>
        <td><%= location.room %></td>
        <td><%= location.city %></td>
        <td><%= location.address %></td>
        <td><%= location.thermostat %></td>
        <td><%= location.user %></td>
        <td><%= link_to 'Mostrar', location %></td>
        <td><%= link_to 'Editar', edit_location_path(location) %></td>
        <td><%= link_to 'Eliminar', location, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Ubicacion', new_location_path %>
