<p id="notice"><%= notice %></p>


<%@location.thermostats.each do |thermostat|%>
<p>
  <strong>Termostato:</strong>
  <%= thermostat.serial %>
</p>
<%end%>
<p>
  <strong>Nombre:</strong>
  <%= @location.name %>
</p>


<p>
  <strong>Ciudad:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @location.address %>
</p>

<%= link_to 'Editar', edit_location_path(@location), :class => 'btn btn-info' %> |
<%= link_to 'Atrás', locations_path, :class => 'btn btn-default' %>
