<p id="notice"><%= notice %></p>

<p>
  <strong>Termostato:</strong>
  <%= @location.thermostat.serial %>
</p>

<p>
  <strong>Propiedad:</strong>
  <%= @location.property %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @location.room %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @location.address %>
</p>

<!--%= link_to 'Edit', edit_location_path(@location) --%> |
<!--%= link_to 'Back', locations_path --%>
