<p id="notice"><%= notice %></p>

<p>
  <strong>Termostato:</strong>
  <%= @location.thermostat.serial %>
</p>

<p>
  <strong>Property:</strong>
  <%= @location.property %>
</p>

<p>
  <strong>Room:</strong>
  <%= @location.room %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<!--%= link_to 'Edit', edit_location_path(@location) --%> |
<!--%= link_to 'Back', locations_path --%>
