<!DOCTYPE html>
<html>

  <head>
  <title>Akita Thermostat</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
   <!--p class="notice"><%= notice %></p-->
    <!--p class="alert"><%= alert %></p-->
  <body>
    <%= render 'layouts/header' %>
    <!--div class="jumbotron"-->
      <div class="container">
        <br><br><br>
        <%= yield %>
      </div>
    <!--/div-->
    <%= render 'layouts/footer' %>
  </body>
</html>